<launch>
  
  <!--  <arg name="case_name" default="kinect2"/>
  <param name="case_name" type="str" value="$(arg case_name)" /> -->
  <!-- <node pkg="robotiq_2f_gripper_control" name="Robotiq2FGripperRtuNode" type="Robotiq2FGripperRtuNode.py" respawn="true" output="screen"/>  -->
  <node name="swot_manipulation_bt" pkg="swot_manipulation_bt" type="swot_manipulation_bt" output="screen"  />
  <!-- launch-prefix="xterm -e gdb - -args" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.157 0 0 0 1 wrist_3_link tool0_controller" />
  <!-- static_transform_publisher x y z qx qy qz qw frame_id child_frame_id -->
  <!--node pkg="tf2_ros" type="static_transform_publisher" name="hand_eye_tf" args="0.003202591571253282 0.05758667985920872 -0.05609012023481361 
0.4918108399879277 -0.5070166992756966 0.5004615608704001 0.5005940375365141 tool0_controller camera_base" /-->

</launch>
