<launch>
  <!--param name="debug" value="0" /-->
  
  <node name="swot_manipulation" pkg="swot_manipulation" type="swot_manipulation" output="screen">
    <!--rosparam-->
          <!-- Pass the value of the 'debug' parameter to the node as a parameter -->
          <!--param name="debug" value="$(arg debug)" />
    </rosparam-->
  </node>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.157 0 0 0 1 wrist_3_link tool0_controller" />

  <!-- static_transform_publisher x y z qx qy qz qw frame_id child_frame_id -->
      <!-- node pkg="tf2_ros" type="static_transform_publisher" name="hand_eye_tf" args="-0.000442986892091924 0.05104719384558998 -0.05609394582614991
0.48973957115829253 -0.4983590257676559 0.5053236708724071 0.5064004557004654 tool0_controller camera_base"/ -->

</launch>
